[Unit]
Description=PiLot Backup Client

[Service]
Type=simple
WorkingDirectory=/opt/pilotbackupclient
ExecStart=dotnet /opt/pilotbackupclient/PiLot.Backup.Client.dll
Restart=always
RestartSec=300
User=pi
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=default.target