[Unit]
Description=PiLot GPS Logger
After=pilotApi.service

[Service]
Type=simple
ExecStart= /bin/sh /opt/pilotgpslogger/startGps.sh
Restart=always
User=pi

[Install]
WantedBy=default.target