[Unit]
Description=PiLot Live Client

[Service]
Type=simple
WorkingDirectory=/opt/pilotliveclient
ExecStart=dotnet /opt/pilotliveclient/PiLot.LiveClient.dll
Restart=always
RestartSec=2
User=pi
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=default.target