[Unit]
Description=PiLot Photo Import

[Service]
Type=simple
WorkingDirectory=/opt/pilotphotoswatcher
ExecStart=/opt/pilotphotoswatcher/PiLot.PhotosWatcher /home/pi/PhotoImport /var/opt/pilot watch
Restart=always
RestartSec=2
User=pi
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=default.target