[Unit]
Description=PiLot Photo Import

[Service]
Type=simple
WorkingDirectory=/opt/pilotphotoswatcher
ExecStart=dotnet /opt/pilotphotoswatcher/PiLot.PhotosWatcher.dll /home/pi/PhotoImport /var/opt/pilot process watch
Restart=always
RestartSec=2
User=pi
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=default.target