[Unit]
Description=PiLot Backup Client

[Service]
Type=simple
WorkingDirectory=/opt/pilotbackupclient
ExecStart=/opt/pilotbackupclient/PiLot.Backup.Client
Restart=always
RestartSec=2
User=pi
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=default.target