[Unit]
Description=PiLot API

[Service]
Type=simple
WorkingDirectory=/opt/pilotapi
ExecStart=dotnet /opt/pilotapi/PiLot.API.dll
Restart=always
RestartSec=2
User=pi
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=default.target