[Unit]
Description=PiLot Sensors Logger

[Service]
Type=simple
WorkingDirectory=/opt/pilotsensors
ExecStart=dotnet /opt/pilotsensors/PiLot.Sensors.dll
Restart=always
RestartSec=2
User=pi
Environment=DOTNET_ROOT=/opt/dotnet

[Install]
WantedBy=default.target