<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sensorsConfigFile" value="/opt/pilotapi/config/sensors.json" />
		<add key="localAPI" value="http://localhost/pilotapi/v1" />
		<add key="username" value="" />
		<add key="password" value="" />
		<add key="logLevel" value="INFO" />
		<add key="logfilePath" value="/var/log/pilot" />
	</appSettings>
</configuration>
