<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sensorsConfigFile" value="/home/dido/Documents/piLotDev/data/sensors/sensors.json" />
		<add key="localAPI" value="http://localhost/pilotapi/api/v1" />
		<add key="logLevel" value="DEBUG" />
		<add key="logfilePath" value="/home/dido/Documents/piLotDev/log" />
	</appSettings>
</configuration>
