<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="DataRootFolder" value="F:\pilotBackup" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="logLevel" value="WARNING" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="logFilePath" value="~/log/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>