<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dataDir" value="/home/dido/Documents/piLotDev/data" />
		<add key="connectionString" value="host=localhost; port=5433; Database=pilot; Username=pilotweb; Password=***;" />
		<add key="logLevel" value="INFO" />
		<add key="logfilePath" value="/home/dido/Documents/piLotDev/log" />
		<add key="services" value="gpsLogger, photosWatcher, sensorsLogger" />
		<add key="gpsTimeThreshold" value="60" />
	</appSettings>
</configuration>
