<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dataDir" value="/var/opt/pilot" />
		<add key="connectionString" value="host=localhost; port=5432; Database=pilot; Username=pilotweb; Password=sailor; " />
		<add key="logLevel" value="INFO" />
		<add key="logfilePath" value="/var/log/pilot" />
		<add key="services" value="gpsLogger, photosWatcher, sensorsLogger, liveClient, backupClient" />
		<add key="gpsTimeThreshold" value="60" />
		<add key="staticFiles" value="false" />
	</appSettings>
</configuration>
