<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dataDir" value="/var/opt/pilot" />
		<add key="logLevel" value="INFO" />
		<add key="logfilePath" value="/var/log/pilot" />
		<add key="services" value="gpsLogger, photosWatcher, sensorsLogger" />
		<add key="gpsTimeThreshold" value="60" />
	</appSettings>
</configuration>
