<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\net9.0\PiLot.API.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.WebTools.ApiEndpointDiscovery" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="e:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\net6.0\Microsoft.WebTools.ApiEndpointDiscovery.dll" />
          <environmentVariable name="APIDISCOVERY_FILEPATH" value="E:\Martin\Documents\repos\PiLot\PiLotAPICore\obj\Debug\net6.0\ApiEndpoints.json" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="1048576000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>