/* BASE SETTINGS */
html, body, form{padding:0px; margin:0px; height:100%;}
html { -ms-text-size-adjust: none;}
form { padding:0px; margin:0px;}
body { background-color:white; font-size:100%; font-weight:400;line-height:1.5em;}
html, body, form, p, th, td, input, select, textarea { font-family: 'Open Sans', 'Segoe UI', Arial;}
p, th, td, input, button, select, textarea, li, span { font-size:1em;}
h1{ font-family: 'Lato', sans-serif; font-weight:700;}
h2, h3, h4 { font-family: 'Open Sans', 'Segoe UI', Arial; font-weight: 600; }
h1 { font-size:1.75em; padding: 0em 0em 0.75em 0em; margin:0.25em 0em 0em 0em; }
h2 { font-size: 1.5em; padding: 0em; margin: 0.25em 0em 0em 0em; }
h3 { font-size: 1.1em; }
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
input[type=text]::-ms-clear {display: none;}


/* NIGHT MODE incl. TRANSITION */
body.night, body.night .inlineTextbox {background-color:black;color:#ccc;}
body.night input, body.night textarea, body.night select{background-color:#333; color: #ccc; border:none;}
body.night #statusBar{color:#000; background-color:#3265AD;}
body.night #clock {color: #ccc; }
body.night #mainMenu>a.navItem, body.night #subMenu>a.navItem {color:#bbb;}
body.night #mainMenu >div { border-color: #666; }
body.night #mainMenu > a.navItem.active { color: #4992FF; }
body.night #subMenu > a.navItem { background-color: #1e2426; }
body.night #subMenu > a.navItem:hover { color: #4992FF; }
body.night #subMenu > a.navItem.active { background-color: black; color: #4992FF; }
body.night .warning{color:#A53030;}
body.night .linkButton { background-color: #333; color: #4992FF; border-color: #999; }
body.night a.linkButton:hover { background-color: #1e2426; }
body.night a.linkButton.btnDayMode, body.night a.linkButton.btnNightMode { background-color: #eee; }
body.night a, body.night a:visited, body.night a:active{color:#4992FF;}
body.night a.tile{color:#4992FF;}
body.night a.tile:hover {background-color:#1e2426;}
body.night .bgLight{background-color:#1e2426;}
body.night .bgLightBlue, body.night .borderLightBlue{border-color:#3265AD; background-color:#3265AD;}
body.night a.lightLink, body.night a.lightLink:active, body.night a.lightLink:visited{color:#000;}
body.nightTransition,
body.nightTransition #statusBar,
body.nightTransition #mainMenu > div,
body.nightTransition #subMenu > a,
body.nightTransition .warning,
body.nightTransition .dgTable td,
body.nightTransition .dgTable th,
body.nightTransition .bgLight,
body.nightTransition a.lightLink,
body.nightTransition .inlineTextbox,
body.nightTransition input,
body.nightTransition textarea { transition: background-color 1s, color 1s, border-color 1s; }
a.tile {transition: background-color 0.2s, color 0.2s;}
.borderLightBlue { transition: border-color 1s;}


/* NAMED ITEMS */
#logWindow {display:block; position:absolute;height:10em; width:100%; background-color:rgba(0, 0, 0, 0.5); display:none; font-family:'Lucida Console'; font-size:12px; overflow:auto; color: white; line-height:13px; z-index:4000;}
#subMenu{display:inline-block;}
#subMenu>a.navItem{
	display:inline-block;
	height:2.5em;
	width:4em;
	margin-left:0.5em;
	margin-top:0.5em;
	padding-top:0.25em;
	text-align:center;
	text-decoration:none;
	color:black;
	background-color:#ddd;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
#subMenu>a.navItem.active{background-color:white;color:#3265AD;}
#subMenu>a.navItem.hidden{display:none;}
#subMenu>a.navItem:hover{color:#4992FF; transition:color 0.2s;}
#subMenu>a.navItem>i { font-size: 1.75em; line-height:1.25em;}
#mainContent{flex:1 1 auto; float:left; margin:0px; padding:0em; }
#resolutionInfo:after { content: "default"; font-size:12px;margin:2px;color:#666666;font-family:'Lucida Console';}

/* CONTAINERS */
.contentPadding{padding-top:1em;padding-left:1em;}
.dataContainerQuarter { width: 25%; min-width: 10em; }
.dataContainerThird { width: 33.33%; min-width: 13.33em; }
.dataContainerHalf { width: 50%; min-width: 20em; }
.dataContainerHalfNarrow { width: 50%; min-width: 10em; }
.dataContainerFull { width: 100%; min-width: 20em; }
.dataContainerQuarter, .dataContainerThird, .dataContainerHalf, .dataContainerHalfNarrow, .dataContainerFull { padding: 0em; float: left; }
.borderBox{border:2px solid #666;}
.chartContainer, .chartError, .chartWait{width:100%; height:25em; }
.chartError, .chartWait{ padding-top:13em;text-align:center;}
.chartError{border:1px solid #FF4949;}
.chartWait{border:1px solid #666666;}

div.feedbackGood, div.feedbackBad, div.feedbackInfo, div.feedbackWarning, span.feedbackGood, span.feedbackBad, span.feedbackInfo, span.feedbackWarning{
    display:block; clear:both; padding:0.5em 0.75em; border-width: 1px 1px 1px 0.5em; border-style:solid; text-align:left; 
}
div.feedbackGood.hidden, div.feedbackBad.hidden, div.feedbackWarning.hidden, div.feedbackInfo.hidden, div.feedbackNeutral.hidden{display:none;}
div.feedbackGood, span.feedbackGood{border-color:#23B223; }
div.feedbackBad, span.feedbackBad{border-color:#FF4949; }
div.feedbackWarning, span.feedbackWarning{border-color:#FFAD49; }
body.night div.feedbackBad, body.night span.feedbackBad{border-color:#A53030; }
body.night div.feedbackWarning, body.night span.feedbackWarning{border-color:#A36630; }
div.feedbackInfo, span.feedbackInfo{border-color:#4992FF; }
body.night div.feedbackInfo, body.night span.feedbackInfo{border-color:#3265AD; }

.sideMenu{	width:4em; position:absolute; height:auto; min-height:3em; margin-top:1em; padding:0.5em; border-top-right-radius:0.5em; border-bottom-right-radius:0.5em;
	background-color:rgba(102,102,102,0.85); z-index:1110;
}
.sideMenu, .sideMenu a, .sideMenu a:hover, .sideMenu a:visited {color:#eee; }
.sideMenu>.expandCollapse{text-align:center;width:3em;}
.sideMenu>.expandCollapse>i{font-size:1.5em;}
.sideMenu>.option{ width:3em; min-height:3em; border:1px solid black; padding-top:0.75em; margin-bottom:0.25em;border-radius:0.25em;width:auto;display:block;text-align:center;}
.sideMenu.expanded>.option{ text-align:left; padding-left:0.5em; }
.sideMenu>.option .label{margin-right:1em; display:none;}
.sideMenu.expanded>.option .label{display:inline-block; }
.sideMenu.expanded>.option .icon{margin-right:0.5em;}
.sideMenu>.option.active, .sideMenu>a.option.active .sideMenu>a.expandCollapse:hover, .sideMenu>.option.active a { color:#FFBF49; }
.sideMenu>.option:hover { background-color:#666; }
.sideMenu>.option .hidden, .sideMenu>.option label.hidden, .sideMenu.expanded>.option .label.hidden{ display:none; }
.sideMenu>.expandCollapse{display:inline-block; margin-bottom:0.5em;}
.sideMenu>.expandCollapse>.expand{display:inline-block;}
.sideMenu>.expandCollapse>.collapse{display:none;}
.sideMenu.expanded>.expandCollapse>.expand{display:none;}
.sideMenu.expanded>.expandCollapse>.collapse{display:inline-block;}


div.hr{display:inline-block; border-top: 0.125em solid #3265AD; height:0.125em;}

/* INPUTS */
.input05{width:0.50em;}
.input1 {width: 1.25em;}
.input2 {width: 2.75em;}
.input2-5 { width: 3.5em; }
.input3 {width: 4.25em;}
.input4 {width: 5.75em;}
.input5 {width: 7.25em;}
.input6 {width: 8.75em;}
.input7 {width:10.25em;}
.input8 {width:11.75em;}
.input9 {width:13.25em;}
.input10{width:14.75em;}
.input11{width:16.25em; }
.input12{width:17.75em; }
.input16{width:23.75em;}
.input18{width:26.75em;}
.input05, .input1, .input2, .input2-5, .input3, .input4, .input5, .input6, .input7, .input8, .input16, .input18{margin-right:0.25em;}
input[type=text], input[type=submit], input[type=button], select, button { height:1.75em;}
input[type=radio]{margin-right:0.5em;}
input[type=checkbox] { margin-right: 0.5em; }
input[type=checkbox].marginNone { margin-right: 0em; }
textarea.big{height:20em;}

/* COLUMNS */
.col05{ width: 0.75em; }
.col1 { width: 1.5em; }
.col2 { width: 3em; }
.col3 { width: 4.5em; }
.col4 { width: 6em; }
.col6 { width: 9em; }
.col11{ width: 16.5em; }

/* GENERAL CLASSES */
.hidden, .block.hidden, .inlineBlock.hidden, .flex.hidden, a.hidden, span.hidden, div.hidden{display:none;}
.fullHeight{height:100%; }
.fullWidth { width: 100%; }
.semiBold { font-weight:600; }
.bold { font-weight:700; }
.biggerText { font-size: 1.5em; line-height:1.25em; }
.warning{color:#FF4949;}
.bigDisplayText{font-size:2em; line-height:1.25em;}
.biggerDisplayText{font-size:3em; line-height:1.25em; }
.veryBigDisplayText{font-size:4em; line-height:1.25em;}
.displayTextContainer { display: inline-block; margin: 0.5em 1em;}
.ellipsisSpan, .ellipsisSpan>[display="block"]{display:block; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.alignTop{vertical-align:top;}
.marginTop{margin-top:1em;}
.marginTopBig{margin-top:2em;}
.marginTopSmall{margin-top:0.5em;}
.marginRight{margin-right:1em;}
.marginRightBig{margin-right:2em;}
.marginRightSmall{margin-right:0.5em;}
.marginBottom{margin-bottom:1em;}
.marginBottomSmall{margin-bottom:0.5em;}
.marginBottomBig{margin-bottom:2em;}
.marginBottomVeryBig{margin-bottom:4em;}
.marginLeft{margin-left:1em;}
.marginLeftSmaller { margin-left: 0.25em; }
.marginAll{margin:1em;}
.marginAllSmall{margin:0.5em;}
.marginLeftBig{margin-left:2em;}
.marginNone{margin:0em;}
.paddingAll{padding:1em;}
.paddingAllSmall{padding:0.5em;}
.paddingTop { padding-top: 1em; }
.paddingTopBig { padding-top: 2em; }
.paddingTopSmall { padding-top: 0.5em; }
.paddingBottom { padding-bottom: 1em; }
.paddingBottomBig { padding-bottom: 2em; }
.paddingLeft { padding-left: 1em; }
.paddingRight { padding-right: 1em; }
.absolute{position:absolute}
.floatLeft{float:left;}
.clearAll{clear:both;}
.table{display:table;}
.col{display:table-column;}
.cell{display:table-cell;}
.inlineBlock{display:inline-block;}
.block{display:block;}
.flex{display:flex;}
.left { text-align: left; }
.middle { vertical-align: middle; }
.center { text-align: center; margin-left: auto; margin-right: auto; }
.right { text-align: right; }
.floatRight{float:right;}
.preLine {white-space: pre-Line;}
.bgLight { background-color: #eee; }
.bgLightBlue { background-color: #B2D3FF; }
.borderLightBlue { border-color: #B2D3FF; }
.borderDark { border:1px solid #999; }
.bw { filter: grayscale(80%); }
.inlineTextbox { border: none; }
.pointer{cursor: pointer;}
.move { cursor: move; }

.green { color: #23B223; }
.red, a.red { color: #FF4949; }

/* LINKS, BUTTONS */
a, a:visited, a:active{color:#3265AD;}
a{text-decoration:none;}
a.underline{text-decoration:underline;}
a:hover, a.tile:hover{color:#4992FF;}

a.lightLink, a.lightLink:active, a.lightLink:visited{color:#EEE;}
a.active, a:visited.active, a:active.active, body.night a.active, body.night a:visited.active, body.night a:active.active{color:#FFBF49;}

.linkButton{
	text-decoration:none;
	display:inline-block;
	min-width:3.5em;
	min-height:2.5em;
	border:1px solid #222;
	border-radius:3px;
	background-color:#eee;
	text-align:center;
	padding-top:0.4em;
}
.linkButton.hidden {display: none;}
.linkButton>i{font-size:1.5em;}
a.linkButton, body.night a.btnDayMode {color: #000;}
a.linkButton.active, a.btnDayMode, body.night a.btnNightMode{color:#FFBF49;}
.linkButton:hover{background-color:#fff;color:#FFC20C;}
.linkButton{transition: background-color 0.2s;}
.linkButton{transition: color 0.5s;}

a.tile { display:block; float:left; display:table; text-align:center; text-decoration:none; color:#000; border:1px solid #666; border-radius:0.5em;}
a.tile.big {margin:1em; height:12em; width:12em;  }
a.tile.big { transition: color 0.2s, background-color 0.2s; }
a.tile > div { display: table-cell; vertical-align: middle; padding-top:0.5em; }
a.tile > div > span.symbol{display:inline-block; font-size:3em; width:100%; line-height:1em;}
a.tile > div > span.label{display:inline-block; font-size:1.5em; width:100%; margin-top:0.5em;}
a.tile.hidden{display:none;}
a.tile.stretch{width:100%; height:100%; border-radius:0;}
.touchButton{display:block; position:absolute; z-index:3000; width:6em; height:7em; background-color:rgba(0, 0, 0, 0.5); border:0.25em solid #445256; border-radius:1em;}
.touchButton.light { background-color: rgba(255, 255, 255, 0.5); border-color:#ddd; }
.touchButton > .dragHandle{cursor:move; background-color:#666; display:block; height:2em; border-top-left-radius:0.75em;border-top-right-radius:0.75em;}
.touchButton > .button{display:block; text-align:center; height:4em; line-height:3em; font-size:1.5em;}
.touchButton.hidden{display:none;}


/* TABLES */
table.dgTable{border-width:1px 0px 1px 0px;border-style:solid;border-color:#4992FF;border-spacing:0px; width:100%;clear:both;}
table.dgTable.fixedWidth{width:58em;}
table.dgTable.noBorder{border-style:none;}
table.dgTable th { text-align:left; }
table.dgTable .sortAsc a::before, table.dgTable .sortDesc a::before, table.dgTable a.sortAsc::before, table.dgTable a.sortDesc::before{font-family:icomoon;font-style:normal;margin-right:0.5em;}
table.dgTable .sortAsc a::before, table.dgTable a.sortAsc::before{content: "\ea4c"; }
table.dgTable .sortDesc a::before, table.dgTable a.sortDesc::before{content: "\ea4d";}
table.dgTable>tbody>tr>td, table.dgTable>tbody>tr>th{padding:0.125em 0.25em;border-color:#aaaaaa;overflow:hidden;}
table.dgTable>tbody>tr.active>td{font-weight:600;}
table.dgTable>tbody>tr.dgAlternatingRow>td, table.dgTable>tbody>tr:nth-child(even){background-color:rgba(109, 182, 255, 0.4 ) ;}
table.dgTable>tbody>tr.dgActiveRow{ }
table.dgTable>tbody>tr.dgHeader>td, table.dgTable>tbody>tr>th{font-style:italic; font-weight:400;padding-top:0.25em; padding-bottom:0.25em; background-color:#B2D3FF;}
table.dgTable>tbody>tr.dgHeader>td>a:hover{text-decoration:none !important;}
table.dgTable>tbody>tr.dgFooter>td{padding-top:0.25em; padding-bottom:0.25em;border-top:1px solid #4992FF;background-color:#B2D3FF;}
table.dgTable>tbody>tr.dgPager>td{border-top:1px solid #4992FF;padding:0.25em; text-align:center;}
table.dgTable>tbody>tr.dgRow>td>a, table.dgTable>tbody>tr.dgAlternatingRow>td>a {display:block;}
table.dgTable>tbody>tr>td.noPadding{padding: 0em;}
table.dgTable>tbody>tr>td.noLeftBorder{border-left-style: none !important;}
table.dgTable>tbody>tr>td.noRightBorder{border-right-style: none!important;}
table.dgTable>tbody>tr>td.overflow{overflow:visible;}
table.dgTable>tbody>tr.dgPager>td>a, table.dgTable>tbody>tr.dgPager>td>span{display:inline-block; padding:0em 0.4em;}
table.dgTable>tbody>tr.dgPager>td>span{color:#333333;text-decoration:none;font-weight:bold;border:1px solid #dddddd;background-color:#eeeeee}
table.dgTable div.divBorder, table.formTable div.divBorder { border-bottom-width:0.25em; border-bottom-style: solid; margin-bottom:-0.125em;}
div.paging {display: flex; flex-direction:row; justify-content:center; height:2em; padding:0em -0.25em;}
div.paging>a{display:block; width:2em; height:2em; line-height:1.9em; text-align:center; margin:0em 0.25em; border:1px solid #666; }
div.paging > a.active { border-width:2px; color:#666;}
body.night table.dgTable>tbody>tr.dgHeader>td, body.night table.dgTable>tbody>tr.dgHeader>th{ background-color:#214372;}

th.center, td.center { text-align:center !important;}
th.right, td.right { text-align:right !important;}

/* SPECIFIC */

.btnUserInfo { font-size:1.5em; }
a.btnUserInfo {color:#ccc;}
a.btnUserInfo.active {color:#FFBF49;}

.pnlUserInfo {
	position:absolute;
	text-align:left;
	width: 15em;
	margin-top:0.25em;
	padding:0.5em;
	background-color:white;
	border:1px solid #aaa;
	border-radius:0.25em;
	position:absolute;
	z-index:3000;
	box-shadow:1px 1px 4px #666;
}

.timeLabel { display: inline-block; width: 12em; }

/* Moon */
.moonContainer{height:10em; min-height:10em; width:64em; min-width:64em;}
.moonImage { width:4em;height:4em;margin:3em 2em; z-index:2; float:left; position:relative;}
.moonImage.active{width:8em;height:8em;margin:1em 0em;}
.moonTodayBar{width:0px; height:10em; border-width:1em; margin-left:-1em; border-style:solid; z-index:1; display:block; position:relative;}

/* Boat Config */
.boatConfigSlider { width:360px; }
.boatConfigSlider > .configNameFrame{height: 1.5em; text-align: center; font-size: 1.5em;}
.boatConfigSlider > .imageFrame { height: 400px; width: 360px; border: 3px solid black; overflow: hidden; display: flex; margin-bottom: 1em;}
.boatConfigSlider > .imageFrame > img { height: 100%; }
.boatConfigSlider > .buttons { display: flex; justify-content: space-between; }
.boatConfigSlider > .buttons > .linkButton { flex-grow: 1; }

/* start page control for boat setup */
.startPageBoat { flex-grow: 1; display: flex; flex-direction: row; flex-wrap: wrap; }
.startPageBoat .divImageContainer { flex-grow: 4; position: relative; margin: 0.25em; }
.startPageBoat .plhAlternativeSetups { flex-grow: 1; display: flex; flex-direction: row; flex-wrap: wrap; }
.startPageBoat .plhAlternativeSetups.hidden{display:none;}
.startPageBoat .divAlternativeSetup { flex-grow: 1; position: relative; min-width: 80%; margin: 0.25em; }

/* start page layout including responsive */
.homeContainer { width: 100%; height: 100%; flex-grow: 1; flex-wrap: wrap; display: grid; grid-template-rows: repeat(12, 1fr); grid-template-columns: repeat(12, 1fr); min-width:24em; }
.homeContainer > div { padding: 0em 1em 1em 0em; display: flex; }
.homeContainer > div:nth-child(1) { grid-row: 1/7; grid-column: 1/7; }
.homeContainer > div:nth-child(2) { grid-row: 1/7; grid-column: 7/13; }
.homeContainer > div:nth-child(3) { grid-row: 7/13; grid-column: 1/7; }
.homeContainer > div:nth-child(4) { grid-row: 7/13; grid-column: 7/13; }
.homeContainer > div > div { flex-grow: 1; }
.homeContainer > div > div.border { border-width: 1px 1px 0.5em 1px; border-style: solid; border-color: #768E96; }

@media screen and (min-height:500px) and (min-width:750px) and (max-height:800px) and (max-width:1024px) {
	.homeContainer > div:nth-child(1) { grid-row: 1/13; grid-column: 1/10; }
	.homeContainer > div:nth-child(2) { grid-row: 1/5; grid-column: 10/13; }
	.homeContainer > div:nth-child(3) { grid-row: 5/9; grid-column: 10/13; }
	.homeContainer > div:nth-child(4) { grid-row: 9/13; grid-column: 10/13; }
}

@media screen and (min-height:750px) and (min-width:600px) and (max-height:1024px) and (max-width:1024px) {
	.homeContainer > div:nth-child(1) { grid-row: 1/10; grid-column: 1/13; }
	.homeContainer > div:nth-child(2) { grid-row: 10/13; grid-column: 1/5; }
	.homeContainer > div:nth-child(3) { grid-row: 10/13; grid-column: 5/9; }
	.homeContainer > div:nth-child(4) { grid-row: 10/13; grid-column: 9/13; }
}

/* RESPONSIVE */
/*****************************************/
/*                LAYOUT                 */
/*****************************************/
#container { display: grid; grid-template-rows: 0em 4em 1fr 3em; width: 100%; min-height: 100%; }
#hamburger { grid-column: 1/2; grid-row: 2/3; display: block; padding-top: 1em; }
#hamburger > a { display: block; height: 100%; }
#header, #mainMenu, #headerButtons, #clock, #subMenu { display: none; }
#subMenu { grid-column: 2/4;}
#headerButtons { grid-column: 1/-1; grid-row: 2/3; display:none; height: 4em; padding-top: 0.75em; }
#headerButtons.expanded { display: inline-block; }
#clock{ margin-top:0.75em; margin-right:1em;}
#mainMenu { z-index: 2000; }
#mainMenu > div { height: 4em; display:flex;}
#mainMenu > div > a { display: none; padding: 0.5em 0.25em; flex-grow:1;}
#mainMenu > div>a:nth-child(1) { display: inline-block; }
#mainMenu.expanded > div > a { display: inline-block; }
#content { grid-column: 3/-1; grid-row: 2/-1; }

/*****************************************/
/*            TEXT AND COLORS            */
/*****************************************/
#header { background-color: #214372; }
#hamburger { color: #fff; text-align: center; }
#hamburger > a { font-size: 1.5em; text-decoration: none; color: #fff; }
#headerButtons { text-align: center; }
#headerButtons.expanded { text-align: center; border-bottom: 1px solid #fff; }
#clock { font-weight: 600; color: #fff; text-align: right; }
#mainMenu { background-color: black; }
#mainMenu > div { border-bottom: 1px solid white; text-align: center; }
#mainMenu > div.active{background-color:white; color:black;}
#mainMenu > div > a.navItem { color:white; font-size: 2em; text-decoration: none; transition: color 0.2s; }
#mainMenu > div.active > a { color: black; }
#mainMenu > div.active > a.active { color: #3265AD; }
#mainMenu > div > a:hover { color: #4992FF }
body.night #mainMenu { background-color: #1e2426;  }
body.night #mainMenu > div > a.navItem { color: #bbb; }
body.night #mainMenu > div.active { background-color: black; color:white; }
body.night #mainMenu > div.active > a { color: #bbb; }
body.night #mainMenu > div.active > a.active { color: #4992FF; }
body.night #mainMenu > div > a:hover { color: #4992FF; }



/* minimal, e.g. iPhone portrait - no menu, no header, just hamburger top-right */
@media screen and (max-width: 599px) {
	.sideMenu{margin-top:5em;}
	h1{margin-left:2em;}	
	#container { grid-template-columns: 4em 6em 1fr 0em 0em; min-width: 320px; }
	#content { grid-column: 1/-1; grid-row: 2/-1; }
	#hamburger { background-color: rgba(0, 0, 0, 0.5); box-shadow: 0.125em 0.125em 0.25em rgba(125, 125, 125, 0.5); z-index: 2005; }
	#mainMenu.expanded { display: block; grid-column: 1/-1; grid-row: 3/-1; }
	#mainMenu > div > a { width:25%; padding-left:0em; padding-right:0em; }
	#headerButtons.expanded { background-color: black; z-index:2004; }
	#v.expanded, #mainMenu.expanded { z-index: 2004; }
	#mainMenu.expanded { opacity: 0.8; }
}

/* narrow menu on the left with hamburger to extend it */
@media screen and (min-width: 600px) {
	#container { grid-template-columns: 4em 6em 1fr 11em 7em; }
	#hamburger { background-color: #000; box-shadow: none; border-bottom:1px solid #fff; z-index:2005; }
	#headerButtons.expanded {grid-row:2/3; z-index:2004; padding-left:4em;}
	body.night #headerButtons .btnNightMode, #headerButtons .btnDayMode{display:none;}
	body.night #headerButtons .btnDayMode{display: inline-block;}
	#mainMenu { grid-column: 1/2; grid-row: 3/-1; display: block; }
	#headerButtons.expanded, #mainMenu.expanded { grid-column: 1/3; background-color: rgba(0, 0, 0, 0.8); }
	#mainMenu.expanded>div.active{background-color:rgba(255, 255, 255, 1);}
	#content { grid-column: 2/-1; }
}

/* full width menu on the left */
@media screen and (min-width:1280px) {
	#hamburger { display: none; }
	#subMenu { grid-column: 3/4; }
	#headerButtons {grid-column:1/3; display: inline-block; background-color:black; }
	#headerButtons.expanded{padding-left:0em;}
	body.night #headerButtons .btnNightMode, #headerButtons .btnDayMode { display: inline-block; }
	.contentPadding { padding-left: 2em; }
	#mainMenu { grid-column: 1/3; grid-row-start: 3 }
	#mainMenu > div > a { display: inline-block; }
	#content { grid-column: 3/-1; }
}

/* show header */
@media screen and (min-height:750px) and (min-width:600px) {
	#container { display: grid; grid-template-rows: 3em 4em 1fr 3em; }
	#hamburger { display: none; }
	#header { grid-column: 1/-1; grid-row: 1/2; display: block; }
	#subMenu { grid-row: 1/2; display: inline-block; }
	#headerButtons, #headerButtons.expanded { grid-column: 4/5; grid-row: 1/2; display: inline-block; padding-top: 0.25em; background-color:inherit; }
	body.night #headerButtons .btnNightMode, #headerButtons .btnDayMode { display: inline-block; }
	#headerButtons.expanded { padding-left: 0em; }
	a.linkButton { background-color: #eee; }
	a.linkButton:hover { background-color: #fff; }
	#clock { grid-column: -2/-1; grid-row: 1/2; display: inline-block; }
	#mainMenu { grid-row: 2/-1; }
}

@media screen and (max-width: 968px) { /* full width for dataContainerHalfNarrow*/
	.dataContainerHalfNarrow { width: 100%; }
}

@media screen and (max-width: 1024px){ /* smaller moons*/
	#resolutionInfo:after { content: "max-width:1024px";}
	.moonContainer {height:5em; min-height: 5em; width: 32em; min-width: 32em; }
	.moonImage { width:2em;height:2em;margin:1.5em 1em;}
	.moonImage.active{width:4em;height:4em;margin:0.5em 0em;}
	.moonTodayBar { height: 5em; }
}

@media screen and (max-width: 1200px) { /* compact left side main nav, switch from two content columns to one */
	#resolutionInfo:after { content: "max-width: 1280px"; }
	.dataContainerHalf { width: 100%; }
	.dataContainerQuarter { width:50%; }
	.dataContainerThird { width: 100%; }
	.moonContainer { height: 8em; min-height: 8em; width: 48em; min-width: 48em; }
	.moonImage { width: 3em; height: 3em; margin: 2.5em 1.5em; }
	.moonImage.active { width: 6em; height: 6em; margin: 1em 0em; }
	.moonTodayBar { height: 8em; }
}

@media screen and (max-width: 1920px) and (max-height:1500px) {
	#resolutionInfo:after { content: "(max-width:1920px) AND (max-height:1500px)"; }
	.chartContainer, .chartError, .chartWait { height: 22em; }
}

@media screen and (max-width: 1280px) and (max-height:1500px) {
	#resolutionInfo:after { content: "(max-width:1280px) AND (max-height:1500px)"; }
	.chartContainer, .chartError, .chartWait { height: 20em; }
}

@media screen and (max-width: 1280px) and (max-height:1024px) {
	#resolutionInfo:after { content: "(max-width: 1280px) AND (max-height 1024px)"; }
	.chartContainer, .chartError, .chartWait { height: 16em; }
	.moonContainer { height: 5em; min-height: 5em; width: 32em; min-width: 32em; }
	.moonImage { width: 2em; height: 2em; margin: 1.5em 1em; }
	.moonImage.active { width: 4em; height: 4em; margin: 0.5em 0em; }
	.moonTodayBar { height: 5em; }
}

@media screen and (max-width: 1280px) and (max-height:900px) {
	#resolutionInfo:after { content: "(max-width: 1280px) AND (max-height 900px)"; }
	.chartContainer, .chartError, .chartWait { height: 16em; }
	.moonContainer { height: 3em; min-height: 3em; width: 24em; min-width: 24em; }
	.moonImage, .moonImage.active { width: 2em; height: 2em; margin: 0.5em 0.5em; }
	.moonTodayBar { height: 3em; }
	.bigDisplayText { font-size: 1.5em; }
	.biggerDisplayText { font-size: 2em; }
	.veryBigDisplayText { font-size: 2.5em; }
	.dataContainerHalf { margin-top: 0em; }
	.dataContainerFull { margin-top: 0em; }
}

@media screen and (max-width: 1000px) and (max-height:1000px) {
	.chartContainer, .chartError, .chartWait { height: 12em; }
}

@media screen and (min-width: 1281px)  /* two content columns (default) */
	and (max-height:900px) {
		#resolutionInfo:after { content: "(min-width:1281px) AND (max-height:900px)"; }
		.chartContainer, .chartError, .chartWait { height: 20em; }
	}


@media screen and (min-width: 1281px)
	and (max-height:750px) {
		#resolutionInfo:after { content: "(min-width:1281px) AND (max-height:750px)"; }
		.chartContainer, .chartError, .chartWait { height: 16em; }
		.moonContainer { height: 5em; min-height: 5em; width: 32em; min-width: 32em; }
		.moonImage { width: 2em; height: 2em; margin: 1.5em 1em; }
		.moonImage.active { width: 4em; height: 4em; margin: 0.5em 0em; }
		.moonTodayBar { height: 5em; }
	}


@media screen and (max-width:800px) { /* only one moon image */
	#resolutionInfo:after { content: "max-width:800px"; }
	.moonContainer { width: 16em; min-width: 16em; }
	.moonImage { display: none; }
	.moonTodayBar { display: none; }
	.moonImage.active { display: inline-block; float: none; margin: 0.5em auto; }
}

