/* OPEN SANS */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
       url(fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src:	url('fonts/OpenSans/OpenSans-Semibold.woff') format('woff'),
		url(fonts/OpenSans/OpenSans-Semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/OpenSans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url(fonts/OpenSans/OpenSans-SemiboldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/OpenSans/OpenSans-BoldItalic.ttf) format('truetype');
}

/* ICOMOON */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?xlpih');
  src:  url('onts/icomoon/icomoon.eot?xlpih#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?xlpih') format('truetype'),
    url('fonts/icomoon/icomoon.woff?xlpih') format('woff'),
    url('fonts/icomoon/icomoon.svg?xlpih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-call_merge:before { content: "\ebf3"; }
.icon-call_missed:before { content: "\ebf4"; }
.icon-call_split:before { content: "\ebf5"; }
.icon-import_export:before { content: "\ebf6"; }
.icon-call_missed_outgoing:before { content: "\ebf7"; }
.icon-navigate_before:before { content: "\ebf8"; }
.icon-navigate_next:before { content: "\ebf9"; }
.icon-directions_bike:before { content: "\ec10"; }
.icon-directions_bus:before { content: "\ec11"; }
.icon-directions_car:before { content: "\ebfc"; }
.icon-directions_ferry:before { content: "\ebfd"; }
.icon-directions_subway:before { content: "\ebfe"; }
.icon-expand_less:before { content: "\ec12"; }
.icon-expand_more:before { content: "\ec13"; }
.icon-arrow_left:before { content: "\ebff"; }
.icon-arrow_right:before { content: "\ec00"; }
.icon-compress:before { content: "\ec14"; }
.icon-expand2:before { content: "\ec15"; }
.icon-bathtub:before { content: "\ec01"; }
.icon-electrical_services:before { content: "\ec02"; }
.icon-wifi-low:before { content: "\ebf0"; }
.icon-wifi-mid:before { content: "\ebf1"; }
.icon-wifi-full:before { content: "\ebf2"; }
.icon-flag2:before { content: "\ec03"; }
.icon-flag3:before { content: "\ec04"; }
.icon-clipboard-edit:before { content: "\ec05"; }
.icon-document-download:before { content: "\ec06"; }
.icon-document-upload:before { content: "\ec07"; }
.icon-trophy1:before { content: "\ec08"; }
.icon-trophy2:before { content: "\ec09"; }
.icon-checkered-flag:before { content: "\ec0a"; }
.icon-checkered-flag1:before { content: "\ec0b"; }
.icon-compass5:before { content: "\ec0c"; }
.icon-compass6:before { content: "\ec0d"; }
.icon-wind-turbine:before { content: "\ec0e"; }
.icon-wind-turbine1:before { content: "\ec0f"; }
.icon-picture1:before { content: "\e00f"; }
.icon-pictures1:before { content: "\e010"; }
.icon-camera1:before { content: "\e012"; }
.icon-expand1:before { content: "\e01a"; }
.icon-focus:before { content: "\e01b"; }
.icon-adjustments:before { content: "\e01d"; }
.icon-flag1:before { content: "\e024"; }
.icon-map1:before { content: "\e025"; }
.icon-streetsign:before { content: "\e029"; }
.icon-layers:before { content: "\e031"; }
.icon-circle-compass:before { content: "\e038"; }
.icon-linegraph:before { content: "\e039"; }
.icon-anchor1:before { content: "\e03f"; }
.icon-map-pin:before { content: "\e047"; }
.icon-dial:before { content: "\e048"; }
.icon-target1:before { content: "\e04e"; }
.icon-speedometer:before { content: "\e051"; }
.icon-compass1:before { content: "\e053"; }
.icon-clock1:before { content: "\e055"; }
.icon-scope:before { content: "\e058"; }
.icon-sailing-boat-water:before { content: "\ebe4"; }
.icon-sailing-boat-water1:before { content: "\ebe5"; }
.icon-wind1:before { content: "\ebe6"; }
.icon-wind2:before { content: "\ebe7"; }
.icon-barometer:before { content: "\ebe8"; }
.icon-barometer1:before { content: "\ebe9"; }
.icon-air-sock:before { content: "\ebea"; }
.icon-air-sock1:before { content: "\ebeb"; }
.icon-warning1:before { content: "\ebec"; }
.icon-warning3:before { content: "\ebed"; }
.icon-thermometer-half:before { content: "\ebee"; }
.icon-thermometer-half1:before { content: "\ebef"; }
.icon-number:before { content: "\e9e3"; }
.icon-number2:before { content: "\e9e4"; }
.icon-number3:before { content: "\e9e7"; }
.icon-number4:before { content: "\e9e8"; }
.icon-number5:before { content: "\e9e9"; }
.icon-number6:before { content: "\e9ea"; }
.icon-number7:before { content: "\e9eb"; }
.icon-number8:before { content: "\e9ec"; }
.icon-number9:before { content: "\e9ed"; }
.icon-number10:before { content: "\e9ee"; }
.icon-number11:before { content: "\e9ef"; }
.icon-number12:before { content: "\e9f0"; }
.icon-number13:before { content: "\e9f1"; }
.icon-number14:before { content: "\e9f2"; }
.icon-number15:before { content: "\e9f3"; }
.icon-number16:before { content: "\e9f4"; }
.icon-number17:before { content: "\e9f5"; }
.icon-number18:before { content: "\e9f6"; }
.icon-number19:before { content: "\e9f7"; }
.icon-number20:before { content: "\e9f8"; }
.icon-quote:before { content: "\e9f9"; }
.icon-quote2:before { content: "\e9fa"; }
.icon-tag:before { content: "\e9fb"; }
.icon-tag2:before { content: "\e9fc"; }
.icon-link2:before { content: "\e9fd"; }
.icon-link3:before { content: "\e9fe"; }
.icon-cabinet:before { content: "\e9ff"; }
.icon-cabinet2:before { content: "\ea00"; }
.icon-calendar2:before { content: "\ea01"; }
.icon-calendar3:before { content: "\ea02"; }
.icon-calendar4:before { content: "\ea5c"; }
.icon-file:before { content: "\ea5d"; }
.icon-file2:before { content: "\ea5e"; }
.icon-file3:before { content: "\ea5f"; }
.icon-files:before { content: "\ea60"; }
.icon-phone2:before { content: "\ea61"; }
.icon-tablet2:before { content: "\ea66"; }
.icon-window:before { content: "\ea67"; }
.icon-monitor:before { content: "\ea68"; }
.icon-ipod:before { content: "\ea69"; }
.icon-tv2:before { content: "\ea6a"; }
.icon-camera2:before { content: "\ea6b"; }
.icon-camera3:before { content: "\ea6c"; }
.icon-camera4:before { content: "\ea6d"; }
.icon-film2:before { content: "\ea6e"; }
.icon-film3:before { content: "\ea6f"; }
.icon-film4:before { content: "\ea73"; }
.icon-microphone:before { content: "\ea74"; }
.icon-microphone2:before { content: "\ea75"; }
.icon-microphone3:before { content: "\ea87"; }
.icon-drink:before { content: "\ea88"; }
.icon-drink2:before { content: "\ea89"; }
.icon-drink3:before { content: "\ea8a"; }
.icon-drink4:before { content: "\ea8b"; }
.icon-coffee:before { content: "\ea8c"; }
.icon-mug2:before { content: "\ea8d"; }
.icon-icecream:before { content: "\ea8e"; }
.icon-cake:before { content: "\ea8f"; }
.icon-inbox:before { content: "\ea90"; }
.icon-download4:before { content: "\ea91"; }
.icon-upload4:before { content: "\ea92"; }
.icon-inbox2:before { content: "\ea93"; }
.icon-checkmark3:before { content: "\ea94"; }
.icon-checkmark4:before { content: "\ea95"; }
.icon-cancel:before { content: "\ea97"; }
.icon-cancel2:before { content: "\ea98"; }
.icon-plus2:before { content: "\ea99"; }
.icon-plus3:before { content: "\ea9a"; }
.icon-minus2:before { content: "\ea9f"; }
.icon-minus3:before { content: "\eaa0"; }
.icon-notice:before { content: "\eaa1"; }
.icon-notice2:before { content: "\eaa2"; }
.icon-cog2:before { content: "\eaa3"; }
.icon-cogs2:before { content: "\eaa4"; }
.icon-cog3:before { content: "\eaa5"; }
.icon-warning2:before { content: "\eaa6"; }
.icon-health:before { content: "\eaa7"; }
.icon-suitcase:before { content: "\eaa8"; }
.icon-suitcase2:before { content: "\eaa9"; }
.icon-suitcase3:before { content: "\eaaa"; }
.icon-picture:before { content: "\eaab"; }
.icon-pictures:before { content: "\eaac"; }
.icon-pictures2:before { content: "\eaad"; }
.icon-android:before { content: "\eaae"; }
.icon-marvin:before { content: "\eab0"; }
.icon-pacman2:before { content: "\eab1"; }
.icon-cassette:before { content: "\eab2"; }
.icon-watch:before { content: "\eab3"; }
.icon-chronometer:before { content: "\eab4"; }
.icon-watch2:before { content: "\eab5"; }
.icon-alarmclock:before { content: "\eab6"; }
.icon-time:before { content: "\eab7"; }
.icon-time2:before { content: "\eab8"; }
.icon-headphones2:before { content: "\eab9"; }
.icon-wallet:before { content: "\eaba"; }
.icon-checkmark5:before { content: "\eabb"; }
.icon-cancel3:before { content: "\eabc"; }
.icon-eye2:before { content: "\eabe"; }
.icon-position:before { content: "\eabf"; }
.icon-sitemap:before { content: "\eac0"; }
.icon-sitemap2:before { content: "\eac1"; }
.icon-cloud2:before { content: "\eac3"; }
.icon-upload5:before { content: "\eac4"; }
.icon-chart:before { content: "\eac5"; }
.icon-chart2:before { content: "\eac6"; }
.icon-chart3:before { content: "\eac7"; }
.icon-chart4:before { content: "\eac8"; }
.icon-chart5:before { content: "\eac9"; }
.icon-chart6:before { content: "\eaca"; }
.icon-location3:before { content: "\eacb"; }
.icon-download5:before { content: "\eacc"; }
.icon-basket:before { content: "\eacd"; }
.icon-folder2:before { content: "\eace"; }
.icon-gamepad:before { content: "\eacf"; }
.icon-alarm2:before { content: "\ead0"; }
.icon-alarm-cancel:before { content: "\ead1"; }
.icon-phone3:before { content: "\ead2"; }
.icon-phone4:before { content: "\ead3"; }
.icon-image2:before { content: "\ead4"; }
.icon-open:before { content: "\ead5"; }
.icon-sale:before { content: "\ead6"; }
.icon-direction:before { content: "\ead7"; }
.icon-map3:before { content: "\ead8"; }
.icon-trashcan:before { content: "\ead9"; }
.icon-vote:before { content: "\eada"; }
.icon-graduate:before { content: "\eadb"; }
.icon-lab2:before { content: "\eae3"; }
.icon-tie:before { content: "\eae4"; }
.icon-football:before { content: "\eae5"; }
.icon-eightball:before { content: "\eae6"; }
.icon-bowling:before { content: "\eae7"; }
.icon-bowlingpin:before { content: "\eae8"; }
.icon-baseball:before { content: "\eae9"; }
.icon-soccer:before { content: "\eaea"; }
.icon-3dglasses:before { content: "\eaeb"; }
.icon-microwave:before { content: "\eaec"; }
.icon-refrigerator:before { content: "\eaed"; }
.icon-oven:before { content: "\eaee"; }
.icon-washingmachine:before { content: "\eaef"; }
.icon-mouse:before { content: "\eaf0"; }
.icon-smiley:before { content: "\eaf1"; }
.icon-sad3:before { content: "\eaf2"; }
.icon-mute:before { content: "\eaf3"; }
.icon-hand:before { content: "\eaf4"; }
.icon-radio:before { content: "\eaf5"; }
.icon-satellite:before { content: "\eaf6"; }
.icon-medal:before { content: "\eaf7"; }
.icon-medal2:before { content: "\eaf8"; }
.icon-switch2:before { content: "\eaf9"; }
.icon-key3:before { content: "\eafa"; }
.icon-cord:before { content: "\eafb"; }
.icon-locked:before { content: "\eafc"; }
.icon-unlocked2:before { content: "\eafd"; }
.icon-locked2:before { content: "\eafe"; }
.icon-unlocked3:before { content: "\eaff"; }
.icon-magnifier:before { content: "\eb00"; }
.icon-zoomin:before { content: "\eb01"; }
.icon-zoomout:before { content: "\eb02"; }
.icon-stack2:before { content: "\eb03"; }
.icon-stack3:before { content: "\eb04"; }
.icon-stack4:before { content: "\eb05"; }
.icon-davidstar:before { content: "\eb06"; }
.icon-cross2:before { content: "\eb07"; }
.icon-moonandstar:before { content: "\eb08"; }
.icon-transformers:before { content: "\eb09"; }
.icon-batman:before { content: "\eb0a"; }
.icon-spaceinvaders:before { content: "\eb0b"; }
.icon-skeletor:before { content: "\eb0c"; }
.icon-lamp:before { content: "\eb0d"; }
.icon-lamp2:before { content: "\eb0e"; }
.icon-umbrella:before { content: "\eb0f"; }
.icon-streetlight:before { content: "\eb10"; }
.icon-bomb:before { content: "\eb11"; }
.icon-archive:before { content: "\eb12"; }
.icon-battery:before { content: "\eb13"; }
.icon-battery2:before { content: "\eb14"; }
.icon-battery3:before { content: "\eb15"; }
.icon-battery4:before { content: "\eb16"; }
.icon-battery5:before { content: "\eb17"; }
.icon-megaphone:before { content: "\eb18"; }
.icon-megaphone2:before { content: "\eb19"; }
.icon-patch:before { content: "\eb1a"; }
.icon-pil:before { content: "\eb1b"; }
.icon-injection:before { content: "\eb1c"; }
.icon-thermometer:before { content: "\eb1d"; }
.icon-lamp3:before { content: "\eb1e"; }
.icon-lamp4:before { content: "\eb1f"; }
.icon-lamp5:before { content: "\eb20"; }
.icon-cube:before { content: "\eb21"; }
.icon-box:before { content: "\eb22"; }
.icon-box2:before { content: "\eb23"; }
.icon-diamond:before { content: "\eb24"; }
.icon-bag:before { content: "\eb25"; }
.icon-moneybag:before { content: "\eb26"; }
.icon-grid:before { content: "\eb27"; }
.icon-grid2:before { content: "\eb28"; }
.icon-list3:before { content: "\eb29"; }
.icon-list4:before { content: "\eb2a"; }
.icon-ruler:before { content: "\eb2b"; }
.icon-ruler2:before { content: "\eb2c"; }
.icon-tools:before { content: "\eb2d"; }
.icon-screwdriver:before { content: "\eb2e"; }
.icon-paint:before { content: "\eb2f"; }
.icon-hammer3:before { content: "\eb30"; }
.icon-brush:before { content: "\eb31"; }
.icon-pen2:before { content: "\eb32"; }
.icon-chat:before { content: "\eb33"; }
.icon-comments:before { content: "\eb34"; }
.icon-chat2:before { content: "\eb35"; }
.icon-chat3:before { content: "\eb36"; }
.icon-volume:before { content: "\eb37"; }
.icon-volume2:before { content: "\eb38"; }
.icon-volume3:before { content: "\eb39"; }
.icon-equalizer3:before { content: "\eb3a"; }
.icon-resize:before { content: "\eb3b"; }
.icon-resize2:before { content: "\eb3c"; }
.icon-stretch:before { content: "\eb3d"; }
.icon-narrow:before { content: "\eb3e"; }
.icon-resize3:before { content: "\eb3f"; }
.icon-download6:before { content: "\eb40"; }
.icon-calculator2:before { content: "\eb41"; }
.icon-library2:before { content: "\eb42"; }
.icon-auction:before { content: "\eb43"; }
.icon-justice:before { content: "\eb44"; }
.icon-stats:before { content: "\eb45"; }
.icon-stats2:before { content: "\eb46"; }
.icon-attachment2:before { content: "\eb47"; }
.icon-hourglass:before { content: "\eb48"; }
.icon-abacus:before { content: "\eb49"; }
.icon-pencil3:before { content: "\eb4a"; }
.icon-pen3:before { content: "\eb4b"; }
.icon-pin:before { content: "\eb4c"; }
.icon-pin2:before { content: "\eb4d"; }
.icon-discout:before { content: "\eb4e"; }
.icon-edit:before { content: "\eb4f"; }
.icon-scissors2:before { content: "\eb50"; }
.icon-profile2:before { content: "\eb51"; }
.icon-profile3:before { content: "\eb52"; }
.icon-profile4:before { content: "\eb53"; }
.icon-rotate:before { content: "\eb54"; }
.icon-rotate2:before { content: "\eb55"; }
.icon-reply2:before { content: "\eb56"; }
.icon-forward4:before { content: "\eb57"; }
.icon-retweet:before { content: "\eb58"; }
.icon-shuffle2:before { content: "\eb59"; }
.icon-loop3:before { content: "\eb5a"; }
.icon-crop2:before { content: "\eb5b"; }
.icon-square:before { content: "\eb5c"; }
.icon-square2:before { content: "\eb5d"; }
.icon-circle:before { content: "\eb5e"; }
.icon-dollar:before { content: "\eb5f"; }
.icon-dollar2:before { content: "\eb60"; }
.icon-coins:before { content: "\eb61"; }
.icon-pig:before { content: "\eb62"; }
.icon-bookmark2:before { content: "\eb63"; }
.icon-bookmark3:before { content: "\eb64"; }
.icon-addressbook:before { content: "\eb65"; }
.icon-addressbook2:before { content: "\eb66"; }
.icon-safe:before { content: "\eb67"; }
.icon-envelope:before { content: "\eb68"; }
.icon-envelope2:before { content: "\eb69"; }
.icon-radioactive:before { content: "\eb6a"; }
.icon-music2:before { content: "\eb6b"; }
.icon-presentation:before { content: "\eb6c"; }
.icon-male:before { content: "\eb6d"; }
.icon-female:before { content: "\eb6e"; }
.icon-aids:before { content: "\eb6f"; }
.icon-heart2:before { content: "\eb70"; }
.icon-info2:before { content: "\eb71"; }
.icon-info3:before { content: "\eb72"; }
.icon-piano:before { content: "\eb73"; }
.icon-rain:before { content: "\eb74"; }
.icon-snow:before { content: "\eb75"; }
.icon-lightning:before { content: "\eb76"; }
.icon-sun2:before { content: "\eb77"; }
.icon-moon:before { content: "\eb78"; }
.icon-cloudy:before { content: "\eb79"; }
.icon-cloudy2:before { content: "\eb7a"; }
.icon-car:before { content: "\eb7b"; }
.icon-bike:before { content: "\eb7c"; }
.icon-truck2:before { content: "\eb7d"; }
.icon-bus:before { content: "\eb7e"; }
.icon-bike2:before { content: "\eb7f"; }
.icon-plane:before { content: "\eb80"; }
.icon-paperplane:before { content: "\eb81"; }
.icon-rocket2:before { content: "\eb82"; }
.icon-book2:before { content: "\eb83"; }
.icon-book3:before { content: "\eb84"; }
.icon-barcode2:before { content: "\eb85"; }
.icon-barcode3:before { content: "\eb86"; }
.icon-expand:before { content: "\eb87"; }
.icon-collapse:before { content: "\eb88"; }
.icon-popout:before { content: "\eb89"; }
.icon-popin:before { content: "\eb8a"; }
.icon-target2:before { content: "\eb8b"; }
.icon-badge:before { content: "\eb8c"; }
.icon-badge2:before { content: "\eb8d"; }
.icon-ticket2:before { content: "\eb8e"; }
.icon-ticket3:before { content: "\eb8f"; }
.icon-ticket4:before { content: "\eb90"; }
.icon-microphone4:before { content: "\eb91"; }
.icon-cone:before { content: "\eb92"; }
.icon-blocked2:before { content: "\eb93"; }
.icon-stop3:before { content: "\eb94"; }
.icon-keyboard2:before { content: "\eb95"; }
.icon-keyboard3:before { content: "\eb96"; }
.icon-radio2:before { content: "\eb97"; }
.icon-printer2:before { content: "\eb98"; }
.icon-checked:before { content: "\eb99"; }
.icon-error:before { content: "\eb9a"; }
.icon-add:before { content: "\eb9b"; }
.icon-minus4:before { content: "\eb9c"; }
.icon-alert:before { content: "\eb9d"; }
.icon-pictures3:before { content: "\eb9e"; }
.icon-atom:before { content: "\eb9f"; }
.icon-eyedropper2:before { content: "\eba0"; }
.icon-globe:before { content: "\eba1"; }
.icon-globe2:before { content: "\eba2"; }
.icon-shipping:before { content: "\eba3"; }
.icon-yingyang:before { content: "\eba4"; }
.icon-compass3:before { content: "\eba5"; }
.icon-zip:before { content: "\eba6"; }
.icon-zip2:before { content: "\eba7"; }
.icon-anchor:before { content: "\eba8"; }
.icon-lockedheart:before { content: "\eba9"; }
.icon-magnet2:before { content: "\ebaa"; }
.icon-navigation:before { content: "\ebab"; }
.icon-tags:before { content: "\ebac"; }
.icon-heart3:before { content: "\ebad"; }
.icon-heart4:before { content: "\ebae"; }
.icon-usb:before { content: "\ebaf"; }
.icon-clipboard2:before { content: "\ebb0"; }
.icon-clipboard3:before { content: "\ebb1"; }
.icon-clipboard4:before { content: "\ebb2"; }
.icon-switch3:before { content: "\ebb3"; }
.icon-ruler3:before { content: "\ebb4"; }
.icon-sunrise:before { content: "\ebb5"; }
.icon-sun3:before { content: "\ebb6"; }
.icon-moon2:before { content: "\ebb7"; }
.icon-sun4:before { content: "\ebb8"; }
.icon-windy:before { content: "\ebb9"; }
.icon-wind:before { content: "\ebba"; }
.icon-snowflake:before { content: "\ebbb"; }
.icon-cloudy3:before { content: "\ebbc"; }
.icon-cloud3:before { content: "\ebbd"; }
.icon-weather:before { content: "\ebbe"; }
.icon-weather2:before { content: "\ebbf"; }
.icon-weather3:before { content: "\ebc0"; }
.icon-lines:before { content: "\ebc1"; }
.icon-cloud4:before { content: "\ebc2"; }
.icon-lightning2:before { content: "\ebc3"; }
.icon-lightning3:before { content: "\ebc4"; }
.icon-rainy:before { content: "\ebc5"; }
.icon-rainy2:before { content: "\ebc6"; }
.icon-windy2:before { content: "\ebc7"; }
.icon-windy3:before { content: "\ebc8"; }
.icon-snowy:before { content: "\ebc9"; }
.icon-snowy2:before { content: "\ebca"; }
.icon-snowy3:before { content: "\ebcb"; }
.icon-weather4:before { content: "\ebcc"; }
.icon-cloudy4:before { content: "\ebcd"; }
.icon-cloud5:before { content: "\ebce"; }
.icon-lightning4:before { content: "\ebcf"; }
.icon-sun5:before { content: "\ebd0"; }
.icon-moon3:before { content: "\ebd1"; }
.icon-cloudy5:before { content: "\ebd2"; }
.icon-cloud6:before { content: "\ebd3"; }
.icon-cloud7:before { content: "\ebd4"; }
.icon-lightning5:before { content: "\ebd5"; }
.icon-rainy3:before { content: "\ebd6"; }
.icon-rainy4:before { content: "\ebd7"; }
.icon-windy4:before { content: "\ebd8"; }
.icon-windy5:before { content: "\ebd9"; }
.icon-snowy4:before { content: "\ebda"; }
.icon-snowy5:before { content: "\ebdb"; }
.icon-weather5:before { content: "\ebdc"; }
.icon-cloudy6:before { content: "\ebdd"; }
.icon-lightning6:before { content: "\ebde"; }
.icon-thermometer2:before { content: "\ebdf"; }
.icon-compass4:before { content: "\ebe0"; }
.icon-none:before { content: "\ebe1"; }
.icon-Celsius:before { content: "\ebe2"; }
.icon-Fahrenheit:before { content: "\ebe3"; }
.icon-home:before { content: "\e900"; }
.icon-home2:before { content: "\e901"; }
.icon-home3:before { content: "\e902"; }
.icon-office:before { content: "\e903"; }
.icon-newspaper:before { content: "\e904"; }
.icon-pencil:before { content: "\e905"; }
.icon-pencil2:before { content: "\e906"; }
.icon-quill:before { content: "\e907"; }
.icon-pen:before { content: "\e908"; }
.icon-blog:before { content: "\e909"; }
.icon-eyedropper:before { content: "\e90a"; }
.icon-droplet:before { content: "\e90b"; }
.icon-paint-format:before { content: "\e90c"; }
.icon-image:before { content: "\e90d"; }
.icon-images:before { content: "\e90e"; }
.icon-camera:before { content: "\e90f"; }
.icon-headphones:before { content: "\e910"; }
.icon-music:before { content: "\e911"; }
.icon-play:before { content: "\e912"; }
.icon-film:before { content: "\e913"; }
.icon-video-camera:before { content: "\e914"; }
.icon-dice:before { content: "\e915"; }
.icon-pacman:before { content: "\e916"; }
.icon-spades:before { content: "\e917"; }
.icon-clubs:before { content: "\e918"; }
.icon-diamonds:before { content: "\e919"; }
.icon-bullhorn:before { content: "\e91a"; }
.icon-connection:before { content: "\e91b"; }
.icon-podcast:before { content: "\e91c"; }
.icon-feed:before { content: "\e91d"; }
.icon-mic:before { content: "\e91e"; }
.icon-book:before { content: "\e91f"; }
.icon-books:before { content: "\e920"; }
.icon-library:before { content: "\e921"; }
.icon-file-text:before { content: "\e922"; }
.icon-profile:before { content: "\e923"; }
.icon-file-empty:before { content: "\e924"; }
.icon-files-empty:before { content: "\e925"; }
.icon-file-text2:before { content: "\e926"; }
.icon-file-picture:before { content: "\e927"; }
.icon-file-music:before { content: "\e928"; }
.icon-file-play:before { content: "\e929"; }
.icon-file-video:before { content: "\e92a"; }
.icon-file-zip:before { content: "\e92b"; }
.icon-copy:before { content: "\e92c"; }
.icon-paste:before { content: "\e92d"; }
.icon-stack:before { content: "\e92e"; }
.icon-folder:before { content: "\e92f"; }
.icon-folder-open:before { content: "\e930"; }
.icon-folder-plus:before { content: "\e931"; }
.icon-folder-minus:before { content: "\e932"; }
.icon-folder-download:before { content: "\e933"; }
.icon-folder-upload:before { content: "\e934"; }
.icon-price-tag:before { content: "\e935"; }
.icon-price-tags:before { content: "\e936"; }
.icon-barcode:before { content: "\e937"; }
.icon-qrcode:before { content: "\e938"; }
.icon-ticket:before { content: "\e939"; }
.icon-cart:before { content: "\e93a"; }
.icon-coin-dollar:before { content: "\e93b"; }
.icon-coin-euro:before { content: "\e93c"; }
.icon-coin-pound:before { content: "\e93d"; }
.icon-coin-yen:before { content: "\e93e"; }
.icon-credit-card:before { content: "\e93f"; }
.icon-calculator:before { content: "\e940"; }
.icon-lifebuoy:before { content: "\e941"; }
.icon-phone:before { content: "\e942"; }
.icon-phone-hang-up:before { content: "\e943"; }
.icon-address-book:before { content: "\e944"; }
.icon-envelop:before { content: "\e945"; }
.icon-pushpin:before { content: "\e946"; }
.icon-location:before { content: "\e947"; }
.icon-location2:before { content: "\e948"; }
.icon-compass:before { content: "\e949"; }
.icon-compass2:before { content: "\e94a"; }
.icon-map:before { content: "\e94b"; }
.icon-map2:before { content: "\e94c"; }
.icon-history:before { content: "\e94d"; }
.icon-clock:before { content: "\e94e"; }
.icon-clock2:before { content: "\e94f"; }
.icon-alarm:before { content: "\e950"; }
.icon-bell:before { content: "\e951"; }
.icon-stopwatch:before { content: "\e952"; }
.icon-calendar:before { content: "\e953"; }
.icon-printer:before { content: "\e954"; }
.icon-keyboard:before { content: "\e955"; }
.icon-display:before { content: "\e956"; }
.icon-laptop:before { content: "\e957"; }
.icon-mobile:before { content: "\e958"; }
.icon-mobile2:before { content: "\e959"; }
.icon-tablet:before { content: "\e95a"; }
.icon-tv:before { content: "\e95b"; }
.icon-drawer:before { content: "\e95c"; }
.icon-drawer2:before { content: "\e95d"; }
.icon-box-add:before { content: "\e95e"; }
.icon-box-remove:before { content: "\e95f"; }
.icon-download:before { content: "\e960"; }
.icon-upload:before { content: "\e961"; }
.icon-floppy-disk:before { content: "\e962"; }
.icon-drive:before { content: "\e963"; }
.icon-database:before { content: "\e964"; }
.icon-undo:before { content: "\e965"; }
.icon-redo:before { content: "\e966"; }
.icon-undo2:before { content: "\e967"; }
.icon-redo2:before { content: "\e968"; }
.icon-forward:before { content: "\e969"; }
.icon-reply:before { content: "\e96a"; }
.icon-bubble:before { content: "\e96b"; }
.icon-bubbles:before { content: "\e96c"; }
.icon-bubbles2:before { content: "\e96d"; }
.icon-bubble2:before { content: "\e96e"; }
.icon-bubbles3:before { content: "\e96f"; }
.icon-bubbles4:before { content: "\e970"; }
.icon-user:before { content: "\e971"; }
.icon-users:before { content: "\e972"; }
.icon-user-plus:before { content: "\e973"; }
.icon-user-minus:before { content: "\e974"; }
.icon-user-check:before { content: "\e975"; }
.icon-user-tie:before { content: "\e976"; }
.icon-quotes-left:before { content: "\e977"; }
.icon-quotes-right:before { content: "\e978"; }
.icon-hour-glass:before { content: "\e979"; }
.icon-spinner:before { content: "\e97a"; }
.icon-spinner2:before { content: "\e97b"; }
.icon-spinner3:before { content: "\e97c"; }
.icon-spinner4:before { content: "\e97d"; }
.icon-spinner5:before { content: "\e97e"; }
.icon-spinner6:before { content: "\e97f"; }
.icon-spinner7:before { content: "\e980"; }
.icon-spinner8:before { content: "\e981"; }
.icon-spinner9:before { content: "\e982"; }
.icon-spinner10:before { content: "\e983"; }
.icon-spinner11:before { content: "\e984"; }
.icon-binoculars:before { content: "\e985"; }
.icon-search:before { content: "\e986"; }
.icon-zoom-in:before { content: "\e987"; }
.icon-zoom-out:before { content: "\e988"; }
.icon-enlarge:before { content: "\e989"; }
.icon-shrink:before { content: "\e98a"; }
.icon-enlarge2:before { content: "\e98b"; }
.icon-shrink2:before { content: "\e98c"; }
.icon-key:before { content: "\e98d"; }
.icon-key2:before { content: "\e98e"; }
.icon-lock:before { content: "\e98f"; }
.icon-unlocked:before { content: "\e990"; }
.icon-wrench:before { content: "\e991"; }
.icon-equalizer:before { content: "\e992"; }
.icon-equalizer2:before { content: "\e993"; }
.icon-cog:before { content: "\e994"; }
.icon-cogs:before { content: "\e995"; }
.icon-hammer:before { content: "\e996"; }
.icon-magic-wand:before { content: "\e997"; }
.icon-aid-kit:before { content: "\e998"; }
.icon-bug:before { content: "\e999"; }
.icon-pie-chart:before { content: "\e99a"; }
.icon-stats-dots:before { content: "\e99b"; }
.icon-stats-bars:before { content: "\e99c"; }
.icon-stats-bars2:before { content: "\e99d"; }
.icon-trophy:before { content: "\e99e"; }
.icon-gift:before { content: "\e99f"; }
.icon-glass:before { content: "\e9a0"; }
.icon-glass2:before { content: "\e9a1"; }
.icon-mug:before { content: "\e9a2"; }
.icon-spoon-knife:before { content: "\e9a3"; }
.icon-leaf:before { content: "\e9a4"; }
.icon-rocket:before { content: "\e9a5"; }
.icon-meter:before { content: "\e9a6"; }
.icon-meter2:before { content: "\e9a7"; }
.icon-hammer2:before { content: "\e9a8"; }
.icon-fire:before { content: "\e9a9"; }
.icon-lab:before { content: "\e9aa"; }
.icon-magnet:before { content: "\e9ab"; }
.icon-bin:before { content: "\e9ac"; }
.icon-bin2:before { content: "\e9ad"; }
.icon-briefcase:before { content: "\e9ae"; }
.icon-airplane:before { content: "\e9af"; }
.icon-truck:before { content: "\e9b0"; }
.icon-road:before { content: "\e9b1"; }
.icon-accessibility:before { content: "\e9b2"; }
.icon-target:before { content: "\e9b3"; }
.icon-shield:before { content: "\e9b4"; }
.icon-power:before { content: "\e9b5"; }
.icon-switch:before { content: "\e9b6"; }
.icon-power-cord:before { content: "\e9b7"; }
.icon-clipboard:before { content: "\e9b8"; }
.icon-list-numbered:before { content: "\e9b9"; }
.icon-list:before { content: "\e9ba"; }
.icon-list2:before { content: "\e9bb"; }
.icon-tree:before { content: "\e9bc"; }
.icon-menu:before { content: "\e9bd"; }
.icon-menu2:before { content: "\e9be"; }
.icon-menu3:before { content: "\e9bf"; }
.icon-menu4:before { content: "\e9c0"; }
.icon-cloud:before { content: "\e9c1"; }
.icon-cloud-download:before { content: "\e9c2"; }
.icon-cloud-upload:before { content: "\e9c3"; }
.icon-cloud-check:before { content: "\e9c4"; }
.icon-download2:before { content: "\e9c5"; }
.icon-upload2:before { content: "\e9c6"; }
.icon-download3:before { content: "\e9c7"; }
.icon-upload3:before { content: "\e9c8"; }
.icon-sphere:before { content: "\e9c9"; }
.icon-earth:before { content: "\e9ca"; }
.icon-link:before { content: "\e9cb"; }
.icon-flag:before { content: "\e9cc"; }
.icon-attachment:before { content: "\e9cd"; }
.icon-eye:before { content: "\e9ce"; }
.icon-eye-plus:before { content: "\e9cf"; }
.icon-eye-minus:before { content: "\e9d0"; }
.icon-eye-blocked:before { content: "\e9d1"; }
.icon-bookmark:before { content: "\e9d2"; }
.icon-bookmarks:before { content: "\e9d3"; }
.icon-sun:before { content: "\e9d4"; }
.icon-contrast:before { content: "\e9d5"; }
.icon-brightness-contrast:before { content: "\e9d6"; }
.icon-star-empty:before { content: "\e9d7"; }
.icon-star-half:before { content: "\e9d8"; }
.icon-star-full:before { content: "\e9d9"; }
.icon-heart:before { content: "\e9da"; }
.icon-heart-broken:before { content: "\e9db"; }
.icon-man:before { content: "\e9dc"; }
.icon-woman:before { content: "\e9dd"; }
.icon-man-woman:before { content: "\e9de"; }
.icon-happy:before { content: "\e9df"; }
.icon-happy2:before { content: "\e9e0"; }
.icon-smile:before { content: "\e9e1"; }
.icon-smile2:before { content: "\e9e2"; }
.icon-sad:before { content: "\e9e5"; }
.icon-sad2:before { content: "\e9e6"; }
.icon-point-up:before { content: "\ea03"; }
.icon-point-right:before { content: "\ea04"; }
.icon-point-down:before { content: "\ea05"; }
.icon-point-left:before { content: "\ea06"; }
.icon-warning:before { content: "\ea07"; }
.icon-notification:before { content: "\ea08"; }
.icon-question:before { content: "\ea09"; }
.icon-plus:before { content: "\ea0a"; }
.icon-minus:before { content: "\ea0b"; }
.icon-info:before { content: "\ea0c"; }
.icon-cancel-circle:before { content: "\ea0d"; }
.icon-blocked:before { content: "\ea0e"; }
.icon-cross:before { content: "\ea0f"; }
.icon-checkmark:before { content: "\ea10"; }
.icon-checkmark2:before { content: "\ea11"; }
.icon-spell-check:before { content: "\ea12"; }
.icon-enter:before { content: "\ea13"; }
.icon-exit:before { content: "\ea14"; }
.icon-play2:before { content: "\ea15"; }
.icon-pause:before { content: "\ea16"; }
.icon-stop:before { content: "\ea17"; }
.icon-previous:before { content: "\ea18"; }
.icon-next:before { content: "\ea19"; }
.icon-backward:before { content: "\ea1a"; }
.icon-forward2:before { content: "\ea1b"; }
.icon-play3:before { content: "\ea1c"; }
.icon-pause2:before { content: "\ea1d"; }
.icon-stop2:before { content: "\ea1e"; }
.icon-backward2:before { content: "\ea1f"; }
.icon-forward3:before { content: "\ea20"; }
.icon-first:before { content: "\ea21"; }
.icon-last:before { content: "\ea22"; }
.icon-previous2:before { content: "\ea23"; }
.icon-next2:before { content: "\ea24"; }
.icon-eject:before { content: "\ea25"; }
.icon-volume-high:before { content: "\ea26"; }
.icon-volume-medium:before { content: "\ea27"; }
.icon-volume-low:before { content: "\ea28"; }
.icon-volume-mute:before { content: "\ea29"; }
.icon-volume-mute2:before { content: "\ea2a"; }
.icon-volume-increase:before { content: "\ea2b"; }
.icon-volume-decrease:before { content: "\ea2c"; }
.icon-loop:before { content: "\ea2d"; }
.icon-loop2:before { content: "\ea2e"; }
.icon-infinite:before { content: "\ea2f"; }
.icon-shuffle:before { content: "\ea30"; }
.icon-arrow-up-left:before { content: "\ea31"; }
.icon-arrow-up:before { content: "\ea32"; }
.icon-arrow-up-right:before { content: "\ea33"; }
.icon-arrow-right:before { content: "\ea34"; }
.icon-arrow-down-right:before { content: "\ea35"; }
.icon-arrow-down:before { content: "\ea36"; }
.icon-arrow-down-left:before { content: "\ea37"; }
.icon-arrow-left:before { content: "\ea38"; }
.icon-arrow-up-left2:before { content: "\ea39"; }
.icon-arrow-up2:before { content: "\ea3a"; }
.icon-arrow-up-right2:before { content: "\ea3b"; }
.icon-arrow-right2:before { content: "\ea3c"; }
.icon-arrow-down-right2:before { content: "\ea3d"; }
.icon-arrow-down2:before { content: "\ea3e"; }
.icon-arrow-down-left2:before { content: "\ea3f"; }
.icon-arrow-left2:before { content: "\ea40"; }
.icon-circle-up:before { content: "\ea41"; }
.icon-circle-right:before { content: "\ea42"; }
.icon-circle-down:before { content: "\ea43"; }
.icon-circle-left:before { content: "\ea44"; }
.icon-tab:before { content: "\ea45"; }
.icon-move-up:before { content: "\ea46"; }
.icon-move-down:before { content: "\ea47"; }
.icon-sort-alpha-asc:before { content: "\ea48"; }
.icon-sort-alpha-desc:before { content: "\ea49"; }
.icon-sort-numeric-asc:before { content: "\ea4a"; }
.icon-sort-numberic-desc:before { content: "\ea4b"; }
.icon-sort-amount-asc:before { content: "\ea4c"; }
.icon-sort-amount-desc:before { content: "\ea4d"; }
.icon-command:before { content: "\ea4e"; }
.icon-shift:before { content: "\ea4f"; }
.icon-ctrl:before { content: "\ea50"; }
.icon-opt:before { content: "\ea51"; }
.icon-checkbox-checked:before { content: "\ea52"; }
.icon-checkbox-unchecked:before { content: "\ea53"; }
.icon-radio-checked:before { content: "\ea54"; }
.icon-radio-checked2:before { content: "\ea55"; }
.icon-radio-unchecked:before { content: "\ea56"; }
.icon-crop:before { content: "\ea57"; }
.icon-make-group:before { content: "\ea58"; }
.icon-ungroup:before { content: "\ea59"; }
.icon-scissors:before { content: "\ea5a"; }
.icon-filter:before { content: "\ea5b"; }
.icon-bold:before { content: "\ea62"; }
.icon-underline:before { content: "\ea63"; }
.icon-italic:before { content: "\ea64"; }
.icon-strikethrough:before { content: "\ea65"; }
.icon-table:before { content: "\ea70"; }
.icon-table2:before { content: "\ea71"; }
.icon-insert-template:before { content: "\ea72"; }
.icon-section:before { content: "\ea76"; }
.icon-paragraph-left:before { content: "\ea77"; }
.icon-paragraph-center:before { content: "\ea78"; }
.icon-paragraph-right:before { content: "\ea79"; }
.icon-paragraph-justify:before { content: "\ea7a"; }
.icon-indent-increase:before { content: "\ea7b"; }
.icon-indent-decrease:before { content: "\ea7c"; }
.icon-share:before { content: "\ea7d"; }
.icon-new-tab:before { content: "\ea7e"; }
.icon-embed:before { content: "\ea7f"; }
.icon-embed2:before { content: "\ea80"; }
.icon-terminal:before { content: "\ea81"; }
.icon-share2:before { content: "\ea82"; }
.icon-mail:before { content: "\ea83"; }
.icon-mail2:before { content: "\ea84"; }
.icon-mail3:before { content: "\ea85"; }
.icon-mail4:before { content: "\ea86"; }
.icon-twitter:before { content: "\ea96"; }
.icon-rss:before { content: "\ea9b"; }
.icon-rss2:before { content: "\ea9c"; }
.icon-youtube:before { content: "\ea9d"; }
.icon-youtube2:before { content: "\ea9e"; }
.icon-onedrive:before { content: "\eaaf"; }
.icon-tux:before { content: "\eabd"; }
.icon-windows8:before { content: "\eac2"; }
.icon-edge:before { content: "\eadc"; }
.icon-safari:before { content: "\eadd"; }
.icon-opera:before { content: "\eade"; }
.icon-file-pdf:before { content: "\eadf"; }
.icon-file-openoffice:before { content: "\eae0"; }
.icon-file-word:before { content: "\eae1"; }
.icon-file-excel:before { content: "\eae2"; }
