.navPage .navData { font-size: 1.25em; padding: 2em 0em 0em 2.75em;}

.navData { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items:center; overflow: hidden; padding-top: 0.5rem; }
.navData .display { flex-grow:1; margin:0em 0.5em 0.5em 0.5em; min-height:2.5em; display:flex; flex-wrap:wrap;  align-items:baseline; justify-content:center; }
.navData .display.hidden { display: none; }
.navData .display > span { font-size: 1.5em; line-height:1;}
.navData .display > span.lblValue { font-size: 3em; margin: 0em 0.125em 0em 0.25em; min-width: 1.8em; text-align:right;}
.navData .display.divCOG > span.lblValue { margin-right: 0em; }
.navData .display .deg { font-size: 3em;  }
.navData .xteDisplay .lblIcon { font-size: 2rem; margin: -1em 0em 0em 0.5em; display:inline-block; min-width: 1em; }
.startPageNav .navLiveRoute { font-size: 1.25em; width: 100% }
.navPage .navLiveRoute { border-top: 1px solid #214372; }
.navPage .navData .display { min-width:8em; margin-left:1em; margin-right: 1em; }

.navPage .navData > div {min-width:12em; padding-bottom: 1em; flex-grow:1; display: flex; flex-wrap:nowrap; flex-direction: column; align-items: center;}
.navPage .navData > div.hidden { display:none; }
.navPage .navData .pnlCoordinates { flex-direction:column; }
.navPage .navData .pnlCoordinates .display { margin-top: 1em; justify-content:flex-end; }
.navPage .navData .pnlCoordinates .display > span { font-size: 2em;}
.navPage .navData .pnlCoordinates .value { margin-left: 0.25em; }
.navPage .navData .pnlCoordinates .display > span.prefix { font-size: 1.5em; }

.navWaypoint .handle a { cursor: move; }
.navWaypointPlaceholder{border:1px solid #666;}

.navMap { width: 100%; height: 100%; }
.navMap.noControls .leaflet-control-container { display: none; }
.navMyBoatIcon, .navHistoricBoatIcon { display: block; border: 3px solid black; border-radius: 10px; background-color: #FFBF49; }
.navMyBoatIcon { background-color: #FFBF49; }
.navHistoricBoatIcon { background-color: rgba(255, 191, 73, 0.6); }
.navWaypointMarker { color:black;border:3px solid black; border-radius:18px; background-color: rgba(73, 146, 255, 0.8); text-align:center; }
.navWaypointMarker > i { font-size:1.5em; line-height:1.5em;}
.mapWaypointPopup {	min-width: 15em; }

.navOutdatedDataWarning { z-index:1100; margin:1em auto;right:0; left:0; width:50%; max-width:30em; color:black; background-color:rgba(255, 255, 255, 0.8); }
body.night .navOutdatedDataWarning { color: #ccc; background-color: rgba(0, 0, 0, 0.8); }

.navLiveRoute { padding: 0em 0em 0em 2em; font-size:2em; }
.navLiveRoute .lblRouteName { font-size: 1.25em; padding:0.5rem 0rem 0.25rem 0rem; display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width: 100%; text-align: center;}
.navLiveRoute .divWaypoints { display: flex; flex-direction: column; align-items: stretch; margin-top:1em;}
.navLiveRoute .navWaypoint { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: flex-end; min-width: 10em; max-width: 50em; flex-grow: 1; margin-bottom: 0.25em; }
.navLiveRoute .navWaypoint.past { color: #999; }
.navLiveRoute .divWaypointName { width: 12em; max-width: 18em; flex-grow: 1; display: flex; align-items: center; }
.navLiveRoute .divWaypointName .lblIcon{ margin-right: 0.5em; font-size:1em; line-height:0.75em; }
.navLiveRoute .divWaypointName .lblName{ font-size: 1.5em; line-height: 1.25; display: inline-block; overflow:hidden; text-overflow: ellipsis; white-space:nowrap; }
.navLiveRoute .pnlLatLon { margin-left: 0.5em; margin-right: 0.5em; padding-bottom: 0.25em; text-align: right; }
.navLiveRoute .pnlLatLon span { display: inline-block; width: 7em; margin-top:0.5em; }
.navLiveRoute .divEtaDistBear { min-width: 15em; flex-grow: 1; text-align: center; padding-bottom: 0.25em; }
.navLiveRoute .divWaypointName, .navLiveRoute .pnlLatLon, .navLiveRoute .divEtaDistBear {margin-bottom: 0.5em; }
.navLiveRoute .divEtaDistBear > span { display:inline-block; }
.navLiveRoute .divEtaDistBear > span:nth-child(1) { margin-right: 0.5em; }
.navLiveRoute .divEtaDistBear > span:nth-child(2) { margin-right: 0.5em; margin-left: 0.5em;}
.navLiveRoute .divEtaDistBear > span:nth-child(3) { margin-left: 0.5em; }

body.night .navLiveRoute .divWaypoints .navWaypoint.past { color: #666; }

.divWaypoints .navWaypointForm .divWaypoint { display: flex; min-width: 24em; max-width: 50em; align-items: center; }
.divWaypoints .navWaypointForm .divWaypoint .tbWaypointName { flex-grow: 1; }
.divWaypoints .navWaypointForm .divWaypoint .divLatLon { min-width: 10em; flex-grow: 0; }
.divWaypoints .navWaypointForm .divWaypoint .divButtons { flex-grow: 0; width: 9em; min-width:9em; display:flex; justify-content:space-between;}

.sideMenu.expanded { width: 14em; }
.sideMenu.expanded>.option{ width:13em; }
.sideMenu.expanded>.option .label{ width:9.5em; }
.navCurrentPosition{display:inline-block; border:3px solid black; height:1em;width:1em; border-radius:0.5em;background-color:#eee; }
.option.active > .navCurrentPosition {background-color:#FFBF49; }

.mapSliderContainer {position: relative; width:calc(100% - 5em); bottom: 3.5em; left:5em; z-index: 650; }
#footer .mapSliderContainer { bottom: 0.5em; }
.mapSliderContainer>.inner {display:inline-block; width:calc(95% - 8.6em);left: 5%;}
.mapSliderContainer>.inner>.slider { background-color: rgba(125, 125, 125,0.25); height:0.75em; width: 100%; border: 1px solid #666; border-radius:3px;  }
.mapSliderContainer>.inner>.slider .ui-slider-handle {z-index: 651; background-color:#666; Border:1px solid #333; border-radius:0px; height:1.75em; width:1.25em; left:-0.55em; top:-0.5em;}
.mapSliderContainer>.time{ display:inline-block; width:8.5em; height:1.75em; margin-left:0.5em;padding:0.125em; background-color: rgba(255, 255, 255, 0.7); border: 1px solid #666; border-radius:3px; vertical-align:middle; }
/* NIGHT STYLES INCL TRANSITIONS */
body.night .leaflet-container { background-color: black; }
body.night img.leaflet-tile{filter: opacity(40%) saturate(150%);}
body.night .leaflet-control-zoom-in, body.night .leaflet-control-zoom-out{background-color:#000;}
body.night .navMyBoatIcon { background-color: #8E6929; }
body.night .navWaypointMarker { background-color: rgba(50, 101, 173, 0.8); }
body.night .mapOptions, body.night .mapOptions>a.option, body.night .mapOptions>a.expandCollapse, body.night .mapOptions>a.option:visited, body.night .mapOptions>a.expandCollapse:visited{color:black;}
body.night .mapOptions>a.option.active>.icon, body.night .mapOptions>a.expandCollapse:hover>.icon { color:#4992FF; }
body.night .option.active > .navCurrentPosition {background-color:#4992FF; }
body.night .leaflet-popup-content-wrapper,body.night .leaflet-popup-content, body.night .leaflet-popup-tip, body.night .mapOptions select { background-color: #666; color: black; }
body.night .mapSliderContainer .time { background-color: rgba(55, 55, 55,0.7); }
body.nightTransition .leaflet-container,
body.nightTransition img.leaflet-tile,
body.nightTransition .leaflet-control-zoom-in,
body.nightTransition .leaflet-control-zoom-out,
body.nightTransition .leaflet-control-zoom-in,
body.nightTransition .navMyBoatIcon,
body.nightTransition .navWaypointMarker,
body.nightTransition .mapOptions,
body.nightTransition .mapOptions select,
body.nightTransition .navCurrentPosition { transition: background-color 1s, color 1s }
body.nightTransition img.leaflet-tile {transition: filter 1s;}
.mapOptions > .option { transition: background-color 0.2s, color 1s; }
.mapOptions>a.expandCollapse{transition: color 0.3s; }

/* RESPONSIVE */
/* map height when used in half width container */
@media screen and (max-width: 1280px) and (max-height:1500px) {
	.dataContainerHalf .navMap{ height:1000px; }
}

@media screen and (max-width: 1280px) and (max-height:1024px) {
	.dataContainerHalf .navMap{ height:750px; }
}

@media screen and (max-width: 1280px) and (max-height:900px) {
	.dataContainerHalf .navMap{ height:500px; }
}

@media screen and (min-width: 1281px) { /* two content columns (default) */
	.dataContainerHalf .navMap { height: 1000px; }
}

@media screen and (min-width: 1281px)  /* two content columns (default) */
	and (max-height:1200px) {
		.dataContainerHalf .navMap{ height:750px; }
	}

@media screen and (min-width: 1281px)  /* two content columns (default) */
	and (max-height:900px) {
		.dataContainerHalf .navMap{ height:600px; }
	}

@media screen and (min-width: 1281px)
	and (max-height:750px) {
		.dataContainerHalf .navMap{ height:500px; }
	}

@media screen and (min-width: 1281px)
	and (max-height:600px) {
		.dataContainerHalf .navMap{ height:400px; }
	}

